<div id="<%= dom_id threat %>">
  <p>
    <strong>Name:</strong>
    <%= threat.name %>
  </p>

  <p>
    <strong>Tier:</strong>
    <%= threat.tier %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= threat.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= threat.longitude %>
  </p>

</div>
