<div id="<%= dom_id hero %>">
  <p>
    <strong>Name:</strong>
    <%= hero.name %>
  </p>

  <p>
    <strong>Rank:</strong>
    <%= hero.rank %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= hero.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= hero.longitude %>
  </p>

</div>
